@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --FF: "Poppins", sans-serif;
  --light-blue: #8fc3ff;
  --dark-blue: #3972ce;
  --opacity-blue: hsla(216, 9%, 89%, 0.01);
  --opacity-blue-2: rgba(255, 255, 255, 0.1);
  --white: #fff;
}
input,
button {
  border: none;
  outline: none;
  font-family: var(--FF);
}
button {
  text-transform: capitalize;
  cursor: pointer;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, var(--light-blue), var(--dark-blue));
}
.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: var(--opacity-blue);
  width: 90vw;
  max-width: 28em;
  border-radius: 0.6em;
}
.wrapper {
  width: 100%;
  /* height: 100%; */
  padding: 3rem 1.8rem;
  backdrop-filter: blur(10px);
  background-color: transparent;
  border: 2px solid var(--opacity-blue-2);
  box-shadow: 0 1.8em 3.7em rgba(3, 46, 87, 0.2);
  border-radius: 6px;
  text-align: center;
}

/* #blur {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(100px);
  z-index: -1;
  background: transparent;
} */
.shape {
  backdrop-filter: blur(1.2em);
  border: 2px solid var(--opacity-blue-2);
}
#right-circle {
  position: absolute;
  display: inline-block;
  top: 1.8em;
  right: -8.5em;
  width: 13em;
  height: 13em;
  background-color: #d5e3f44a;
  border-radius: 50%;
}
#left-circle {
  position: absolute;
  display: inline-block;
  bottom: -3.7em;
  left: -2.5em;
  width: 11em;
  height: 11em;
  background-color: #d5e3f44a;
  border-radius: 50%;
}
#search-form {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

#search-form input {
  background: transparent;
  padding: 0.4rem;
  font-size: 0.9rem;
  width: 100%;
  border-bottom: 2px solid var(--white);
  color: var(--white);
}
#search-form input::placeholder {
  color: var(--white);
  font-weight: 300;
}
#search-form input:focus {
  border-color: var(--white);
}
#search-btn {
  padding: 0.4rem 0.8rem;
  color: var(--dark-blue);
  border-radius: 0.3em;
  transition: all 0.1s;
}
#search-btn:hover {
  background-color: #eeecec;
}
#search-btn:active {
  background-color: #e3e2e2;
}
#result {
  color: var(--white);
  text-align: center;
}
#result h2 {
  font-size: 1.2rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1.25em 0;
}
.details {
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-bottom: 0.9em;
  line-height: 2em;
}
#detail-1 {
  margin-bottom: 0.4rem;
  margin-top: -0.7em;
}
img {
  margin: 0.6em 0 0 0;
  width: 6.2em;
  filter: drop-shadow(0 1.8em 3.7em rgba(3, 46, 87, 0.2));
}

.temps-div h3 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
#temp-h3 {
  letter-spacing: 0.2rem;
  margin-right: 0.35rem;
}
.temps-details {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  text-transform: lowercase;
}
.temps-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  gap: 0.2rem;
}
.temps-title {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  font-weight: 600;
}
.temps-detail:first-child {
  border-right: 0.5px solid #ffffff59;
}
.temps-detail p {
  padding: 0 0.5rem;
}
.message {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 450px) {
  .container {
    font-size: 14px;
  }
}
