@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #b7adfc;
  --white: #fdf4f5;
  --FF: "Roboto", sans-serif;
}
body {
  background-color: #beb4ff;
  height: 100vh;
  font-family: var(--FF);
}
button,
input {
  cursor: pointer;
  border: none;
}

#wrapper {
  background-color: var(--white);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80vmin;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 12px 20px 5px rgba(72, 72, 72, 0.138);
  padding: 4rem 2rem;
}
form {
  text-align: center;
  margin-bottom: 4rem;
}
#search {
  background-color: var(--white);
  font-size: 1rem;
  border-bottom: 2px solid var(--bg-color);
  padding: 10px;
  width: 45vmin;
  margin-right: 1.5rem;
  font-family: var(--FF);
}
#search-btn {
  font-family: var(--FF);
  border: none;
  background-color: var(--bg-color);
  color: var(--white);
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  transition: all 0.1s;
}
#search-btn:hover {
  background-color: #c5bcfb;
}
#search-btn:active {
  background-color: #b4a9fd;
}
#message {
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
}
#result {
  margin-left: 3vmin;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#title-and-sound {
  display: flex;
  justify-content: space-between;
}
#title {
  font-size: 2rem;
}
#sound {
  width: 1.5rem;
  /* height: 1rem; */
  margin-right: 1.5rem;
  color: var(--bg-color);
  background-color: var(--white);
  transition: all 0.1s;
}
#sound:hover {
  color: #c5bcfb;
}
#sound:active {
  color: #b4a9fd;
}
#wordclass-and-pronounce {
  color: rgba(137, 135, 135, 0.755);
  margin-bottom: 0.6rem;
}
/* #example-div {
  position: relative;
} */
#wordclass {
  margin-right: 0.4rem;
}
#meaning {
  margin-bottom: 1rem;
}
#example-container {
  position: relative;
}
#example {
  font-style: italic;
  margin-left: 1rem;
}
#vl {
  border-left: 4px solid var(--bg-color);
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.hide {
  display: none !important;
}
